<?xml version="1.0" encoding="UTF-8"?>
<!--spring 的配置 约束文件用到哪个引入哪个 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">
<!--
	<context:component-scan base-package="com.qfedu.sso.provider"></context:component-scan>
	&lt;!&ndash;5、配置事务 &ndash;&gt;
	&lt;!&ndash;事务管理器 &ndash;&gt;
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		&lt;!&ndash;配置数据库连接池 需要为那些设置事务 &ndash;&gt;
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	&lt;!&ndash;配置 增强处理类 &ndash;&gt;
	<tx:advice transaction-manager="transactionManager"
		id="txadvice">
		&lt;!&ndash;设置具体的方法的事务信息 &ndash;&gt;
		<tx:attributes>
			&lt;!&ndash;具体的方法 连接点 &ndash;&gt;
			<tx:method name="save*" />
			<tx:method name="update*" />
			<tx:method name="delete*" />
			<tx:method name="query*" propagation="SUPPORTS" ></tx:method>
		</tx:attributes>
	</tx:advice>
	&lt;!&ndash;配置aop &ndash;&gt;
	<aop:config>
		&lt;!&ndash;配置需要添加事务的方法 &ndash;&gt;
		<aop:pointcut
			expression="execution(* com.qfedu.sso.provider.*.*(..))" id="tpt" />
		&lt;!&ndash;设置事务 &ndash;&gt;
		<aop:advisor advice-ref="txadvice" pointcut-ref="tpt" />
	</aop:config>
-->


</beans>